<header>List of contacts </header>

<h3>
    <a *ngIf="" [routerLink]="['/contacts/add']">Add new contact</a>
</h3>

<table *ngIf="contacts"> <!-- wait for contacts to load from backend -->
  <tr *ngFor="let contact_item of contacts">
    <td>
      {{contact_item.name}}
    </td>
    <td>
      {{contact_item.surname}}
    </td>
    <td>
      {{contact_item.email}}
    </td>
    <td>
      <a [routerLink]="['/contacts', contact_item.id]">View</a>
    </td>
    <td>
      <a *ngIf="isLoggedIn" [routerLink]="['/contacts/edit', contact_item.id]">Edit</a>
    </td>
    <td>
      <button *ngIf="isLoggedIn" (click)="onDelete(contact_item)">Delete</button>
    </td>

  </tr>
</table>
