<article *ngIf="contact">
    <br><br><br>
    <table > 
        <tr>
            Name: {{contact.name}}
        </tr>
        <tr>
            Surname: {{contact.surname}}
        </tr>
        <tr>
            Email: {{contact.email}}
        </tr>
        <tr>
            Password: {{contact.password}}
        </tr>
        <tr>
            Category: {{contact.contactCategory}}
        </tr>
        <tr>
            Subcategory: {{contact.contactSubcategory}}
        </tr>
        <tr>
            Phone number: {{contact.number}}
        </tr>
        <tr>
            Birthdate: {{contact.birthdate}}
        </tr>

        
    </table>
</article>
 