<header>List of contacts</header>
<h3>
    <!--<a href="add">Add new contact</a>-->
    <a [routerLink]="['/contacts/add']">Add new contact</a>
</h3>


<table *ngIf="contacts"> <!-- wait for contacts to load -->    
  <tr *ngFor="let contact_item of contacts">
    <td>
      {{contact_item.name}}
    </td>
    <td>
      {{contact_item.surame}}
    </td>
    <td>
      {{contact_item.email}}
    </td>
    <td>
      <a [routerLink]="['/contacts', contact_item.id]">View</a>
    </td>
    <td>
      <a [routerLink]="['/contacts/edit', contact_item.id]">Edit</a>
    </td>
    <td>
      <a [routerLink]="['/contacts/delete', contact_item.id]">Delete</a>
    </td>

  </tr>
</table>
