<header>List of contacts </header>

<h3>
    <a [routerLink]="['/contacts/add']">Add new contact</a>
</h3>

<table *ngIf="contacts.length > 0"> <!-- wait for contacts to load from backend -->
  <tr *ngFor="let contact_item of contacts">
    <td>
      {{contact_item.name}}
    </td>
    <td>
      {{contact_item.surname}}
    </td>
    <td>
      {{contact_item.email}}
    </td>
    <td>
      <a [routerLink]="['/contacts', contact_item.id]">View</a>
    </td>
    <td>
      <a [routerLink]="['/contacts/edit', contact_item.id]">Edit</a>
    </td>
    <td>
      <a (click)="onDelete(contact_item)">Delete</a>
    </td>

  </tr>
</table>
